server:
  port: 8080

spring:
  application:
    name: ewm-main
  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
    properties:
      hibernate:
        format_sql: true
  management:
    endpoints:
      web:
        exposure:
          include: health,metrics,info
    endpoint:
      health:
        show-details: always

logging:
  level:
    ru.practicum.explorewithme.server.exception: INFO
    root: WARN